.wrap{
    width : 500px;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playlistnamebox{
    margin-top: 100px;
    margin-bottom: 20px;
}

.music_list{
    margin-bottom: 100px;
}

.info{
    margin-bottom: 100px;
}

.modifybtn{
    margin-bottom: 100px;
}
