.pagename{
    text-align: center;
    margin-top: 30px;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.music_list {
    display: flex;
    overflow: auto;
    width: 700px;
    height: 600px;
    font-size: 20px;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.info > button {
    font-size: 20px;
}

p {
    font-size: 40px;
}

.contentinput{
    margin-top: 10px;
}

.makeplaylistbtn{
    margin-top: 20px;
}

.viewbtn{
    margin-top: 20px;
}