#title {
    text-align: center;
    margin-top: 30px;
}

.wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.palylist_box {
    border : 1px solid gray;
    font-size: 20px;
    width: 400px;
    height: 500px;
    overflow: auto;
}

.makebtn {
    margin: 20px auto;
    width: 390px;
}

.playlist_btn {
    width: 200px;
    margin: auto;
    display: block;
}


li{
    margin-bottom: 5px;
}

/* --------------------------------- */

.row{
    margin-top: 100px;
}

.userprofile {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.item {
    margin-top: 30px;
}



.top_100_all{
    margin-top: 100px;
}

.list_title{
    margin-bottom: 30px;
}


/* 이미지 필드 추가 */

img {
    width: 300px;
    margin: auto;
    display: block;
}
